<a href="https://colab.research.google.com/github/sahil301290/MachineLearning/blob/main/Bag_of_Words(BoW)_and_TF_IDF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Agenda

- Bag of Words

- TF-IDF

# Implementing Bag of Words(BoW)
Conversion of Text into Vectorize form

In [1]:
import pandas as pd

In [2]:
text = pd.read_excel('Text.xlsx')

In [3]:
text.head()

                 Sentences
0            Boys are good
1           Girls are good
2  Boys and girls are good

In [4]:
text.shape

(3, 1)

In [5]:
!pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [6]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [7]:
import re
from nltk.corpus import stopwords
### Dataset Preprocessing
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()
corpus = []
for i in range(0, len(text)):
    print(i)
    title = re.sub('[^a-zA-Z]', ' ', text['Sentences'][i])
    title = title.lower()
    title = title.split()
    title = [ps.stem(word) for word in title if not word in stopwords.words('english')]
    title = ' '.join(title)
    corpus.append(title)

0
1
2

In [8]:
corpus

['boy good', 'girl good', 'boy girl good']

# Creating the BoW(Bag of words)

In [9]:
from sklearn.feature_extraction.text import CountVectorizer


#Creating the bag of words
bow_article = CountVectorizer().fit(corpus)

count_tokens=bow_article.get_feature_names()

article_vect = bow_article.transform(corpus)
count_tokens

['boy', 'girl', 'good']

In [10]:

df_count_vect=pd.DataFrame(data=article_vect.toarray(),columns=count_tokens)
df_count_vect

   boy  girl  good
0    1     0     1
1    0     1     1
2    1     1     1

# Implementing TF-IDF

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf=TfidfVectorizer().fit(corpus)

##Extracting all features/tokens

In [12]:
count_tokens=tfidf.get_feature_names()
count_tokens

['boy', 'girl', 'good']

## Transforming the corpus into Vector

In [13]:
article_vect = tfidf.transform(corpus)

## Displaying the final Converted Vector with Features

In [14]:
df_tfidf_vect=pd.DataFrame(data=article_vect.toarray(),columns=count_tokens)
df_tfidf_vect

        boy      girl      good
0  0.789807  0.000000  0.613356
1  0.000000  0.789807  0.613356
2  0.619805  0.619805  0.481334

End of Code